<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Building Automation Systems Diagram</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>
<body>
    <h1>Building Automation Systems Diagram</h1>
    <form action="/generate">
        <button type="submit">Generate a Diagram</button>
    </form>
    <form action="/view">
        <button type="submit">View Existing Diagram</button>
    </form>
</body>
</html>
