<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Existing Diagrams</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Existing Diagrams</h1>
        <ul>
            {% for file in files %}
                <li><a href="{{ url_for('view_file', filename=file) }}" target="_blank">{{ file }}</a></li>
            {% endfor %}
        </ul>
        <form action="/generate">
            <button type="submit">Back to Generate</button>
        </form>
    </div>
</body>
</html>
